/* btn heigth: 25px, root: padding: 10px -> total: 45px*/

button {
    all: unset;
}

.ToolbarRoot {
    display: flex;
    padding: 10px;
    /* width: 100%; */
    min-width: max-content;
    border-radius: 6px;
    background-color: var(--grass-1);
    box-shadow: 0 2px 10px var(--black-a7);
}

.ToolbarToggleItem,
.ToolbarButton {
    flex: 0 0 auto;
    color: var(--mauve-11);
    height: 25px;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-flex;
    font-size: 15px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.ToolbarToggleItem:hover,
.ToolbarButton:hover {
    background-color: var(--grass-4);
    color: var(--grass-12);
}

.ToolbarToggleItem:focus,
.ToolbarButton:focus {
    position: relative;
    box-shadow: 0 0 0 2px var(--grass-8);
}

.ToolbarToggleItem {
    background-color: var(--grass-1);
    margin-left: 2px;
}

.ToolbarToggleItem:first-child {
    margin-left: 0;
}

.ToolbarToggleItem[data-state="on"] {
    background-color: var(--grass-6);
    color: var(--grass-12);
}

.ToolbarSeparator {
    width: 1px;
    background-color: var(--mauve-6);
    margin: 0 10px;
}

.ToolbarButton {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--grass-9);
}

.ToolbarButton:hover {
    color: white;
    background-color: var(--grass-10);
}

.ModelBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    min-width: max-content;
    border-radius: 6px;
    background-color: var(--grass-1);
    box-shadow: 0 2px 10px var(--black-a7);
}

.ModelBarItem {
    margin: 0px 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    background-color: var(--grass-7);
    color: white;
    user-select: none;
}

.ModelBarItem:hover {
    background-color: var(--grass-10);
    color: white;
}

.ModelBarItemActive {
    background-color: var(--grass-10);
    color: white;
}
